.footer-container {
  background-color: var(--grey);
  padding: 20px;
}

.footer {
  color: var(--light-grey);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
