@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --white: #FFFFFF;
  --black: #030303;
  --blue: #5A89EA;
  --grey: #6F7889;
  --light-grey: #D4D7DD;
}

html, body {
  overflow-x: hidden;
  position: relative;
  background-color: var(--blue) !important;
}

body::-webkit-scrollbar {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-text-field--filled {
  background-color: transparent !important;
  padding: 0 !important;
}

mat-form-field {
  font-family: Poppins !important;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}
